# Runs end-to-end test
# TODO: parameterize the enviroment variables where applicable 
#   (for example lib version numbers)
name: E2E Test
on:
    push:
    workflow_dispatch:
env:
    SONOBUOY_VERSION: 0.56.16
    KUBECONFIG: "/root/.kube/config"
    KUBEHOST: 172.17.0.1
    ARCH: amd64
    REPO: github.com/1898andCo/
    TAG:
    
jobs:
    e2e:
        runs-on: ubuntu-latest
        steps:
        - name: Checkout
          uses: actions/checkout@v3

        - name: Run Tests 
          run: |
            make build &&
            make package &&
            make e2e